@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");

:root {
  --blue: #396aa9;
  --message-yellow: #facc15;
  --message-bg: #f0fdf4;
  --message-title: #166534;
  --message-text: #15803d;
  --message-svg: #4ade80;
  --message-button-hover: #d1fae5;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nunito Sans", sans-serif;
  color: black;
  font-size: 1em;
  background-color: white;
}

button {
  font-family: inherit;
}

h1 {
  font-size: 7.5em;
  margin: 15px 0;
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

.content {
  width: 14rem;
  margin: 0;
}

.btn {
  z-index: 1;
  overflow: hidden;
  background: transparent;
  position: relative;
  padding: 8px 50px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 2px;
  transition: 0.3s ease;
  font-weight: bold;
  margin: 5px 0;
}
.btn.blue {
  border: 4px solid var(--blue);
  color: black;
}
.btn.blue::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: var(--blue);
  z-index: -1;
  transition: 0.3s ease;
}
.btn.blue:hover {
  color: white;
  background: var(--blue);
}
.btn.blue:hover::before {
  width: 100%;
}

.notifications-container {
  margin: 0 0 0 -3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex {
  display: flex;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.message {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--message-bg);
  border-left: 10px solid var(--message-title);
}

.message-svg {
  color: var(--message-svg);
  width: 2rem;
  height: 2rem;
  margin: -0.25rem 0 0 0;
}

.message-prompt-wrap {
  margin-left: 0.5rem;
}

.message-prompt-heading {
  font-weight: bold;
  color: var(--message-text);
}

.message-prompt-prompt {
  margin-top: 0.5rem;
  color: var(--message-text);
}

.message-button-container {
  display: flex;
  margin: -0.25rem 0 -0.25rem -0.5rem;
}

.message-button-main,
.message-button-secondary {
  padding: 0.375rem 0.5rem;
  background-color: var(--message-button-bg);
  color: var(--message-text);
  font-size: 0.875rem;
  font-weight: bold;
  border-radius: 0.375rem;
  border: none;
  margin-right: 0.75rem;
  cursor: pointer;
}

.message-button-main:hover,
.message-button-secondary:hover {
  background-color: var(--message-button-hover);
}

/* 在小屏幕上调整布局 */
@media screen and (max-width: 768px) {
  .row {
    display: block; /* 小屏幕时垂直布局 */
  }
  .content {
    width: 100%;
  }
  .notifications-container {
    margin: 0;
  }
}
